<p>Dear {{ user.username }}</p>

<p>To reset your password <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">Click Here</a> to reset it</p>

<p>Alternatively, copy and paste the following link into your browser's address bar:</p>

<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>

<p>If you have not requested a password reset simply ignore this message.</p>

<p>Sincerely,</p>

<p>The Flasky Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>
